__pycache__/
*.pyc
*.egg-info/
.ipynb_checkpoints/
data/progress.json
data/*.db
.DS_Store

# PyPI build artifacts
dist/
build/
.venv/

# JupyterLab extension build artifacts
labextension/lib/
labextension/node_modules/
labextension/torchcode_labext/labextension/
labextension/tsconfig.tsbuildinfo
labextension/yarn.lock
